@tailwind preflight;
@tailwind utilities;

/* Your custom CSS here */

body {
    @apply bg-grey text-black;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading tracking-normal;
}
h1,
h2,
h3 {
    @apply border-l-4 border-red pl-4;
}

h1 + *,
h2 + *,
h3 + *,
h4 + *,
h5 + *,
h6 + *,
* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 {
    @apply .mt-4;
}

cite,
li,
p {
    @apply font-normal leading-normal font-body;
}

ol + p,
ul + p,
p + p {
    @apply .mt-5;
}

blockquote {
    @apply border-l-4 border-red pl-4;
    display: block;
}
blockquote p {
    @apply text-lg font-bold mt-4 mb-4;

}

ol li,
ul li {
    @apply .leading-normal;
}

ol li + li,
ul li + li {
    @apply .mt-2;
}

a {
    @apply text-blue;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

a:hover {
    @apply text-blue-medium;
}

select {
    background-image: url('assets/images/select-down.svg');
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) 50%;
    appearance: none;
}

input[type='text'],
input[type='email'],
input[type='search'],
input[type='number'],
select,
textarea {
    @apply border-t-2 border-b-2 border-r-2 border-l-2 border-grey-dark rounded mb-2 w-full p-4;
    display: block;
}

label + input,
label + textarea,
label + select {
    @apply mt-2
}

.input-group {
    @apply pl-0;
}

.input-group li {
    list-style: none;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
    display: inline-block;
}

input[type='checkbox'],
input[type='radio'] {
    display: none;
}

input[type='checkbox'] + label::before {
    @apply bg-blue mr-4 w-5 h-5 text-blue;
    transition: color .2s ease;
    line-height: 1.25rem;
    text-align: center;
    content: "\ea10";
    font-family: 'icomoon';
    display: inline-block;
}

input[type='radio'] + label::before {
    @apply bg-blue mr-4 w-5 h-5 text-blue rounded-circle;
    transition: background .2s ease;
    line-height: 1.25rem;
    text-align: center;
    content: "\ea54";
    font-family: 'icomoon';
    display: inline-block;
}

input[type='radio']:checked + label::before {
    @apply bg-white;
}
input[type='checkbox']:checked + label::before {
    @apply text-white;
}
/* UI */

code {
    @apply bg-grey-dark text-white p-4 rounded block;
    overflow: scroll;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: none;
    max-width: 100%;
}

button,
.btn,
input[type='submit'] {
    @apply font-body bg-blue rounded text-grey pt-2 pb-2 pl-8 pr-8 leading-normal border-2 border-blue;
    transition: all .2s ease-in-out;
    display: inline-block;
}

button + button,
button + .btn,
.btn + button,
.btn + .btn {
    @apply ml-2;
}

button:hover,
.btn:hover,
input[type='submit']:hover {
    @apply bg-blue-dark text-grey border-blue-dark;
    cursor: pointer;
}

/* Icons */

.icon {
    @apply bg-transparent p-4 bg-blue rounded-circle inline-flex text-grey border-2 border-blue;
    transition: all .2s ease-in-out;
}

.icon:hover {
    @apply bg-blue-dark text-grey border-blue-dark;
}

.icon + .icon {
    @apply ml-4;
}

/* Grid */

.row {
    @apply flex mx-auto my-0 max-w-lg;
    flex-flow: row wrap;
    /* align-items: center; */
}

.col {
    @apply p-4;
}

/* Dark colors */
.bg-grey-dark,
.bg-grey-blue {
    @apply text-grey;
}

.bg-grey-dark h1,
.bg-grey-blue h1,
.bg-grey-dark h2,
.bg-grey-blue h2,
.bg-grey-dark h3,
.bg-grey-blue h3 {
    @apply border-white;
}

.bg-grey-dark a,
.bg-grey-blue a {
    @apply text-blue-medium;
}

.bg-grey-dark a:hover,
.bg-grey-blue a:hover {
    @apply text-blue-light;
}

.bg-grey-dark blockquote,
.bg-grey-blue blockquote {
    @apply border-blue-light;
}

.bg-grey-dark a.btn,
.bg-grey-blue a.btn,
.bg-grey-dark .icon,
.bg-grey-blue .icon,
.bg-grey-dark button,
.bg-grey-blue button,
.bg-grey-dark input[type='submit'],
.bg-grey-blue input[type='submit'] {
    @apply bg-transparent text-grey border-grey border-2;
}

.bg-grey-dark a.btn:hover,
.bg-grey-blue a.btn:hover,
.bg-grey-dark .icon:hover,
.bg-grey-blue .icon:hover,
.bg-grey-dark button:hover,
.bg-grey-blue button:hover,
.bg-grey-dark input[type='submit']:hover,
.bg-grey-blue input[type='submit']:hover {
    @apply bg-grey text-grey-dark;
}

.bg-grey-dark input[type='checkbox'] + label::before,
.bg-grey-dark input[type='radio'] + label::before,
.bg-blue-dark input[type='checkbox'] + label::before,
.bg-blue-dark input[type='radio'] + label::before {
    @apply bg-blue-light text-blue-light;
}

.bg-grey-dark input[type='radio']:checked + label::before,
.bg-blue-dark input[type='radio']:checked + label::before {
    @apply bg-blue;
}

.bg-grey-dark input[type='checkbox']:checked + label::before,
.bg-blue-dark input[type='checkbox']:checked + label::before {
    @apply text-blue;
}

.site-header__inner {
    /* align-items: center;
    justify-content: space-between; */
}

a.logo {
    @apply text-white block relative;
}

a.logo h3 {
    @apply border-0 p-0;
}
a.logo:after {
    @apply bg-blue-light;
    position: absolute;
    transition: all .2s ease;
    display: block;
    content: '';
    /* width: 100%; */
    height: 2px;
    left: 0;
    right: 100%;
    bottom: 0;
}

a.logo:hover h3 {
    @apply border-blue-light;
}

a.logo:hover::after {
    right: 0;
}

.main-nav {
    @apply mt-0
}

.site-header nav ul {
    @apply flex;
    padding: 0;
}

.site-header nav ul li {
    @apply m-0;
    list-style-type: none;
}

.site-header nav ul li a {
    @apply py-1 px-5 text-white block relative;
}

.site-header nav ul li a:after {
    @apply bg-blue-light absolute block;
    transition: all .2s ease;
    content: '';
    /* width: 100%; */
    height: 2px;
    left: 1.25rem;
    right: 100%;
    bottom: 0;
}

.site-header nav ul li a:hover {
    @apply text-blue-light;
}

.site-header nav ul li a:hover::after {
    right: 1.25rem;
}

.main-container {
    min-height: calc(100vh - 113px);
}

.site-footer {
    @apply border-t-2 border-white;
}
/* Media Queries */

@screen sm {
    body {
        font-size: 18px
    }
    h1 {
        @apply .text-4xl;
    }
    * + h1,
    h1 + * {
        @apply .mt-8;
    }
    h2 {
        @apply .text-3xl;
    }
    * + h2,
    h2 + * {
        @apply .mt-6;
    }
    h3 {
        @apply .text-2xl;
    }
    * + h3 ,
    h3 + * {
        @apply .mt-5;
    }
    h4 {
        @apply .text-xl;
    }
    * + h4,
    h4 + * {
        @apply .mt-4;
    }
    * + h5,
    h5 + * {
        @apply .mt-4;
    }
    * + h6,
    h6 + * {
        @apply .mt-4;
    }
}

/* Blocks */

.block-project {
    @apply text-white;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}

/* .block-project::before {
    background-color: black;
    opacity: .6;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
} */

.block-project__inner {
    @apply  pt-16 pb-16;
    position: relative;
    z-index: 2;
}

.block-project__inner .col {
    background-color: rgba(0,0,0, .6);

}

@screen lg {
    .block-project__inner {
        @apply min-h-screen;
    }
}

/* Image Content */

.block-image-content .image img {
    display: block;
    width: 100%;
}

/* Columns */

.block-columns {

}

@screen md {
    .block-image-content.right .image {
        order: 2;
    }
    .block-image-content.right .text {
        order: 1;
    }
}
